.container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header{
  margin-top: 3rem;
    text-align: center;
    color: rgb(164, 164, 247);
    font-size: 2rem;
    text-shadow: #c32dff 0px 0px 20px, 2px 2px 2px rgba(206,89,55,0);
    letter-spacing: 1px;
    font-weight: 600;
    animation: header 2s ease-in-out;
}

.form {
margin-top: 4rem;
margin-left: auto;
margin-right: auto;
width: 30%;
background: linear-gradient(145deg, #24282f, #2b2f38);
box-shadow:  3px 3px 8px #1e2126,
             -2px -2px 5px #323742;
display: flex;
flex-direction: column;
padding-bottom: 2rem;
border-radius: 15px;
animation: form 2s ease-in-out;
border: 1px solid rgb(54, 54, 54);

}

.logo {
padding: 1rem;
    margin-right: auto;
    margin-left: auto;
   height:5rem;
   width: 5rem;
   box-shadow:  3px 3px 8px #1e2126,
                -2px -2px 5px #323742;
color: rgb(194, 194, 194);
border-radius: 50%;
margin-top: 1rem;
border: 1px solid rgb(54, 54, 54);
animation: form 1s ease-out;
}
.form input {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    height: 3rem;
    background: linear-gradient(145deg, #24282f, #2b2f38);
    box-shadow:  3px 3px 8px #1e2126,
                 -2px -2px 5px #323742;
    color: rgb(179, 179, 179);
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(54, 54, 54);
}

.form input::placeholder{
    color: rgb(105, 103, 117);
    letter-spacing: 1px;

}

.form input:focus{
 outline: none;
}
.form button {
    width: 30%;
    background: linear-gradient(145deg, #24282f, #2b2f38);
    box-shadow:  3px 3px 8px #1e2126,
                 -2px -2px 5px #323742;
                 color: rgb(177, 177, 177);
                 margin-right: auto;
                 margin-left: auto;
                 border: none;
                padding: 0.75rem;
                border-radius: 15px;
                 margin-top: 2rem;
                 border: 1px solid rgb(54, 54, 54);
}
.wrongpass{
  border: 1px solid rgb(235, 14, 14);
}
.wrongpass::placeholder{
  color: red;
}
@keyframes header {
    from {
      opacity: 0;
      transform: translateY(-10rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
@keyframes form {
    from {
      opacity: 0;
     
    }
  
    to {
      opacity: 1;
    
    }
  }

  @media screen and (max-width: 500px) {
     .header{
      font-size: 1.5rem;
    }
    .form{
        width: 80%;
    }
  }